In [12]:
import glob
import pandas as pd
leactures_CRN = glob.glob('lectures-CRNs/*.csv')
groupedStudents = glob.glob('groupedStudents/*.csv')
my_CRN='roster_CRN_71160.csv'
my_CRN_df=pd.read_csv(my_CRN)
# Concatenate the list of dataframes
groupedStudents_df = pd.concat([pd.read_csv(i) for i in groupedStudents], ignore_index=True)
# Assuming you have two dataframes: dfA and dfB
# Replace 'common_column_A' and 'common_column_B' with the actual column names

# To find missing rows in dfB
missing_students_df = my_CRN_df.merge(groupedStudents_df, 
                             left_on='Student ID', 
                             right_on='SIS Login ID', 

                             how='left', indicator=True).query(
                                 '_merge == "left_only"').drop('_merge', axis=1)

print(missing_students_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 3 to 56
Columns: 115 entries, # to In-class Quizizz Bouns (151673)
dtypes: float64(44), int64(4), object(67)
memory usage: 11.8+ KB
None

In [13]:
missing_students_df.head()

,#,Term Code,CRN,Course Code,Student ID,Last Name,First Name,Middle,Email,Student,...,Tutorial 8 (146629),Tutorial 9 (146630),Tutorial 10 (146622),Programming Assignment #2 (146620),Programming Assignment #1 (146619),Quiz 4- Requires Respondus LockDown Browser (146617),Quiz 3- Requires Respondus LockDown Browser (146602),Quiz 2- Requires Respondus LockDown Browser (146599),Quiz 1- Requires Respondus LockDown Browser (146613),In-class Quizizz Bouns (151673)
3,4,202401,71160,ENGR 1200U,100837056,Al-Gburi,Mustafa,Imad,mustafa.algburi@uoit.net,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,202401,71160,ENGR 1200U,100855555,Amjad,Imtihal,NaN,imtihal.amjad@uoit.net,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,202401,71160,ENGR 1200U,100861451,Cochrane,Benjamin,Wolfe,benjamin.cochrane@uoit.net,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,202401,71160,ENGR 1200U,100912565,Dickson,Ryker,Alexander,ryker.dickson@uoit.net,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27,202401,71160,ENGR 1200U,100938991,Habib,Andre,NaN,andre.habib@uoit.net,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
"other_csv_file".split('_')[2]

'file'

In [17]:
import pandas as pd

# Path to the CSV file with many records
# main_csv_file = 'main_file.csv'  # Replace with your file path

# List of CSV file paths to check against
# leactures_CRN = ['file1.csv', 'file2.csv', 'file3.csv']  # Add your CSV file paths here

# Read the main CSV file into a dataframe
# main_df = pd.read_csv(main_csv_file)
missing_students_df
# Create an empty dataframe to store the matching records
matching_records_df = pd.DataFrame(columns=missing_students_df.columns)

# Iterate over each record in the main CSV file
for index, row in missing_students_df.iterrows():
    target_id = row['Student ID']  # Assuming 'id' is the common ID column, replace it with the actual column name

    # Iterate through other CSV files and check for the target ID
    for other_csv_file in leactures_CRN:
        try:
            # Read the other CSV file into a dataframe
            other_df = pd.read_csv(other_csv_file, skiprows=1)

            # Check if the target ID exists in the other dataframe
            if target_id in other_df['Student ID'].values:
                # Append the matching record to the new dataframe
                matching_records_df = matching_records_df.append(row, ignore_index=True)
                matching_records_df.loc[matching_records_df["Student ID"]==target_id, "lectures-CRN"]=other_csv_file.replace(".csv","").split('_')[2]
                print(f"Record with ID {target_id} found in {other_csv_file}")
                # Optionally, you can break out of the loop if you only want to find the first occurrence
                break
        except pd.errors.EmptyDataError:
            # Handle empty CSV files if needed
            print(f"Skipping empty file: {other_csv_file}")
        except pd.errors.ParserError:
            # Handle parsing errors if needed
            print(f"Error parsing file: {other_csv_file}")

# Save the matching records to a new CSV file
matching_records_df = matching_records_df.dropna(axis=1, how='all')
matching_records_df.to_csv('ungrouped-Student.csv', index=False)

C:\Users\Abdelrahman Elewah\AppData\Local\Temp\ipykernel_9720\2037113771.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_records_df = matching_records_df.append(row, ignore_index=True)
C:\Users\Abdelrahman Elewah\AppData\Local\Temp\ipykernel_9720\2037113771.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_records_df = matching_records_df.append(row, ignore_index=True)
C:\Users\Abdelrahman Elewah\AppData\Local\Temp\ipykernel_9720\2037113771.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_records_df = matching_records_df.append(row, ignore_index=True)
C:\Users\Abdelrahman Elewah\AppData\Local\Temp\ipykernel_9720\2037113771.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_records_df = matching_records_df.append(row, ignore_index=True)
C:\Users\Abdelrahman Elewah\AppData\Local\Temp\ipykernel_9720\2037113771.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_records_df = matching_records_df.append(row, ignore_index=True)
C:\Users\Abdelrahman Elewah\AppData\Local\Temp\ipykernel_9720\2037113771.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_records_df = matching_records_df.append(row, ignore_index=True)
C:\Users\Abdelrahman Elewah\AppData\Local\Temp\ipykernel_9720\2037113771.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_records_df = matching_records_df.append(row, ignore_index=True)

Record with ID 100837056 found in lectures-CRNs\roster_CRN_71041.csv
Record with ID 100855555 found in lectures-CRNs\roster_CRN_70607.csv
Record with ID 100861451 found in lectures-CRNs\roster_CRN_70607.csv
Record with ID 100912565 found in lectures-CRNs\roster_CRN_71041.csv
Record with ID 100938991 found in lectures-CRNs\roster_CRN_70610.csv
Record with ID 100920495 found in lectures-CRNs\roster_CRN_70610.csv
Record with ID 100877822 found in lectures-CRNs\roster_CRN_70610.csv

C:\Users\Abdelrahman Elewah\AppData\Local\Temp\ipykernel_9720\2037113771.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_records_df = matching_records_df.append(row, ignore_index=True)
C:\Users\Abdelrahman Elewah\AppData\Local\Temp\ipykernel_9720\2037113771.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_records_df = matching_records_df.append(row, ignore_index=True)
C:\Users\Abdelrahman Elewah\AppData\Local\Temp\ipykernel_9720\2037113771.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_records_df = matching_records_df.append(row, ignore_index=True)
C:\Users\Abdelrahman Elewah\AppData\Local\Temp\ipykernel_9720\2037113771.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_records_df = matching_records_df.append(row, ignore_index=True)
C:\Users\Abdelrahman Elewah\AppData\Local\Temp\ipykernel_9720\2037113771.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_records_df = matching_records_df.append(row, ignore_index=True)
C:\Users\Abdelrahman Elewah\AppData\Local\Temp\ipykernel_9720\2037113771.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_records_df = matching_records_df.append(row, ignore_index=True)

Record with ID 100913600 found in lectures-CRNs\roster_CRN_70607.csv
Record with ID 100922742 found in lectures-CRNs\roster_CRN_71041.csv
Record with ID 100923903 found in lectures-CRNs\roster_CRN_70607.csv
Record with ID 100921674 found in lectures-CRNs\roster_CRN_75526.csv
Record with ID 100917558 found in lectures-CRNs\roster_CRN_75526.csv
Record with ID 100920227 found in lectures-CRNs\roster_CRN_70607.csv